<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="/validate/" method="POST">
    {% csrf_token %}
    {{msg}}
    <table align="center">
        <tr>
            <td> Enter Email Id</td>
            <td><input type="text" name="Email"></td>
        </tr>
        <tr>
            <td> Enter Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>